<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body background="{{ url_for('static', filename='image/image.jpg') }}">
    <div class="signin-container">
        <h1>Sign In</h1>
        <form action="/signin" method="POST">
            <!-- Email Field -->
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            
            <br><br>

            <!-- Password Field -->
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br><br>

            <!-- Submit Button -->
            <button type="submit">Sign In</button>
        </form>

        <!-- Link to Sign-Up Page -->
        <p>Don't have an account? <a href="/signup">Sign up here</a></p>
    </div>

    <!-- Include JS validation file -->
    <script src="{{ url_for('static', filename='js/validate.js') }}"></script>
</body>
</html>
